<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kumar.estimote.homework01" >

    <!-- required to scan for and connect to Estimote Beacons via Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- required to access Estimote Cloud -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MessageMe!"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="MessageMe!"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="MessageMe!(Sign Up)"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".InboxActivity"
            android:label="@string/title_activity_inbox"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ComposeAcitivity"
            android:label="@string/title_activity_compose_acitivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ReadmsgActivity"
            android:label="@string/title_activity_readmsg"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
